<style>

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }


</style>

<input type="hidden" #selection>
<div class="container" style="margin-top: 40px;">
  <div class="row">
    <div class="col-sm-7">
<!-- Terminal -->
<div class="terminal" [ngSwitch]="selection.value">
  <pre *ngSwitchDefault>
  <div>
    <qr-scanner
    [debug]="false"
    [canvasWidth]="1080"
    [canvasHeight]="720"
    [stopAfterScan]="true"
    [updateTime]="500">
  </qr-scanner>
  </div>
  </pre>
  <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
  <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
  <pre *ngSwitchCase="'dependency'">ng add ___</pre>
  <pre *ngSwitchCase="'test'">ng test</pre>
  <pre *ngSwitchCase="'build'">ng build</pre>
</div>
    </div>
    <div class="col-sm-5">
      <div class="card" style="width: 20rem; margin-top: 80px;" *ngIf="bandera=='True'; else textoInformativo">
        <button type="button" class="btn btn-success" (click)="reload()">Volver a escanear</button>
        <img src="../../../assets/Productos/{{producto.rutaimagen}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{producto.nomProducto}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Categoría: {{producto.tipo}}</li>
          <li class="list-group-item">Estado: {{producto.estado}}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link"><div class="btncar" style="float:left; width:45%;  margin-left: 5px;" display="inline-block">
            <button  class="btn btn-success "
                style="margin-left: 5px;">Cambiar estado</button>
          </div></a>
          <a href="#" class="card-link"><div class="btncar" style="float:right; width:45%;  margin-right: 5px;" display="inline-block">
            <button  class="btn btn-secondary "
                style="margin-right: 5px;">Eliminar producto</button>
          </div></a>
        </div>
      </div>
    </div>
    <ng-template #textoInformativo>
      <div class="card text-white bg-danger mb-3" style="max-width: 18rem; margin-top: 120px;">
        <div class="card-header">Aviso</div>
        <div class="card-body">
          <h5 class="card-title">Escanee el código QR</h5>
          <p class="card-text">Para realizar esta operación muestre el código QR en frente de la camara web de su dispositivo.</p>
        </div>
      </div>
     </ng-template>
  </div>
</div>



