<div class="mt-5 p-4 bg-info text-white text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <br />
          <img
            src="../../../assets/Logos/logo.png"
            style="width: 90px; height: 90px"
          />
          <br /><br />
          <p>Copyright © 2022 | Todos los derechos reservados</p>
          <br />
          <img
            src="../../../assets/Logos/iconoFacebook.png"
            style="width: 60px; height: 60px"
          />
          <img
            src="../../../assets/Logos/iconoWhatsapp.png"
            style="width: 60px; height: 60px"
          /><br /><br />
        </div>
        <div class="col-md-4">
          <p>Contáctenos</p>
          <br />
          <p>Nuestras sedes</p>
          <br />
          <p>Contacto en Popayán: 314 - xxx - xx - xx</p>
          <br />
          <p>Correos: xxxxxx@xxxxx.com</p>
        </div>
        <div class="col-md-4">
          <p>
            GetProducts <br /> <br><br>
            <a class="linkFooter" href="#">Tecnología</a> <br /><br />
            <a class="linkFooter" href="#">Mis compras</a> <br /><br />
            <a class="linkFooter" href="#">Ofertas</a> <br /><br />
            <a class="linkFooter" href="#">Ofertas</a> <br /><br />
          </p>
            
        </div>
      </div>
    </div>
  </div>